body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    grid-template-areas: "HAUS", "MEGIN", "FOTUR";
    width: 95%;
    max-width: 1440px;
}

.haus {
    align-items: center;
    grid-area: "HAUS";
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    border-bottom: 1px solid black;
}

.haus h1 {
    grid-column-end: span 6;
}

.haus nav {
    grid-column-end: span 6;
    justify-self: end;
}

.meginmal {
    grid-area: "MEGIN";
    min-height: 100vh;
}

.fotur {
    grid-area: "FOTUR";
    border-top: 1px solid black;
}

.fotur figure {
    display: flex;
    flex-direction: column;
}

.myndafmer {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
}